.color-nav{
    background-color: black;
}

#copyright-text{
    text-align: center;
    color: white;
}
#credit{
    color: white;
}

.dev-credit{
    text-align: center;
    color: white;
    /*background-color: black;*/
    background-image: linear-gradient( to right, #001233, #002855);
}