body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Código Original*/

body {background-image: repeating-linear-gradient( rgb(46, 46, 46), rgb(17, 14, 34), rgb(0, 0, 0), rgb(17, 14, 34), rgb(0, 0, 0), rgb(46, 46, 46) ) ;}

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

h1, h2, h3, h4, h5{
  font-family: 'Kaushan Script', cursive;
}

/*
font-family: 'Satisfy', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Rock Salt', cursive;
*/

/*
body {background-image: repeating-linear-gradient(rgb(17, 14, 34), rgb(7, 2, 36) , rgb(0, 0, 0), rgb(7, 2, 36) , rgb(17, 14, 34)) ;}
body {background-image: repeating-linear-gradient(rgb(17, 14, 34), rgb(46, 46, 46) , rgb(0, 0, 0),  rgb(17, 14, 34)) ;}

body {background-image: repeating-linear-gradient(rgb(7, 2, 36) , black, rgb(7, 2, 36) , rgb(17, 14, 34)) ;}
body {background-image: repeating-linear-gradient(rgb(17, 14, 34),  rgb(0, 0, 0),  rgb(17, 14, 34)) ;}

#rule {
    background-image: linear-gradient(to bottom right, rgb(7, 2, 36), rgb(17, 14, 34));
}
*/