.jbt-player{
    background-image: url('../image/dark-wood2.jpg');
    /*color: white;*/
    background-size: cover;
    background-repeat: no-repeat,repeat ;
    background-position: center;
    padding: 10vh;
    color: rgb(255, 255, 255);    
    border-radius: 3vh;
}


.color-nav{
    background-color: black;
}

.player-menu-button{
  margin-bottom: 5px;  
  margin-left: 5px;
  margin-right: 5px;
}


