.jbt-rule{
    background-image: url('../image/pirate1.jpg');
    /*color: white;*/
    background-size: cover;
    background-repeat: no-repeat,repeat ;
    background-position: center;
    padding: 10vh;
    color: rgb(55, 182, 255);    
    border-radius: 3vh;
}
.jbt-rule2{
    background-image: url('../image/dark-wood1.jpg');
    color: white;
    /*
    background-size: cover;
    background-repeat: no-repeat,repeat ;
    background-position: center;
    padding: 10vh;  
    border-radius: 3vh;
    */
}